div.home {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

div.error {
  background-color: rgb(163, 0, 0);
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #5c5c5c;
}

input[type="url"]:invalid {
  background-color: rgb(175, 0, 0);
  color: white;
}

input[type="url"]:invalid:focus {
  box-shadow: 0px 0px 8px rgb(182, 0, 0);
}

input[type="url"] {
  padding: 5px;
  width: 350px;
  font-size: 20px;
  border-radius: 5px;
  border: 0;
}

input[type="url"]:focus {
  box-shadow: 0px 0px 8px rgb(182, 182, 182);
  transition: all 0.2s;
  border: 0;
  outline: 0;
}

div.url-input > label {
  display: block;
  font-size: 20px;
}

div.listable-input > input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

div.listable-input > label {
  float: right;
  font-size: 20px;
  margin-left: 5px;
}

div.home > * {
  margin: 10px;
}

div.home > ul {
  list-style-type: none;
}

div.home > ul > li {
  padding: 7px;
}

div.home > p {
  font-size: 20px;
}
