<div *ngIf="!shortened; then shortenPart else shortenedPart"></div>

<ng-template #shortenPart>
  <div class="home">
    <p class="error" *ngIf="errorMessage">
      {{ errorMessage }}
    </p>

    <div class="url-input">
      <label for="url">URL</label>
      <input [(ngModel)]="url" autocomplete="off" name="url" type="url" id="url" placeholder="https://example.com/" />
    </div>

    <div class="listable-input">
      <label for="listable">Is listable?</label>
      <input [(ngModel)]="listable" id="listable" type="checkbox" />
    </div>

    <div class="buttons">
      <button id="shorten" (click)="shortenURL()">Shorten URL</button>
      <a class="button" href="/list">List shortened URLs</a>
    </div>
  </div>
</ng-template>

<ng-template #shortenedPart>
  <div class="home">
    <p>URL is shortened.</p>

    <ul>
      <li>Short URL: <a class="button-small" [routerLink]="`/${idToString(id)}`">{{ `${site}/${idToString(id)}` }}</a></li>
      <li>Deletion URL: <a class="button-small" [routerLink]="`/delete/${idToString(deletionId)}`">{{ `${site}/delete/${idToString(deletionId)}` }}</a></li>
      <li>Is listable?: {{ listable ? "Yes" : "No" }}</li>
    </ul>

    <a class="button" routerLink="/" (click)="reset()">Go back</a>
  </div>
</ng-template>
