html {
  height: 100%;
}

body {
  padding: 0 !important;
  margin: 0 !important;
  background: #0e0e0e;
  height: 100%;
}

root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

button {
  padding: 8px;
  font-size: 18px;
  font-family: "Roboto";
  width: 60%;
  background: #0d0d0d;
  border: 1px solid #5c5c5c;
  border-radius: 5px;
  color: white;
  transition: all 0.3s ease-out;
}

button:hover {
  background: #202020;
}

a.button, a.button-small {
  text-decoration: none;
  color: white;
  background: #0d0d0d;
  border-radius: 5px;
  border: 1px solid #5c5c5c;
  transition: all 0.3s ease-out;
}

a.button:hover, a.button-small:hover {
  background: #202020;
}

a.button {
  font-size: 18px;
  padding: 8px;
}

a.button-small {
  font-size: 14px;
  padding: 5px;
}
