html[data-theme="dark"] {
  --background-color: #0E0E0E;
  --container-color: #1B1B1B;
  --button-color: #0D0D0D;
  --button-hover-color: #414141;
  --button-disabled: #303030;
  --error: rgb(163, 0, 0);
  --color: white;
}

html[data-theme="light"] {
  --background-color: #E0E0E0;
  --container-color: #D3D3D3;
  --button-color: #8f8f8f;
  --button-hover-color: #757575;
  --button-disabled: #575757;
  --error: rgb(201, 0, 0);
  --color: black;
}

html {
  height: 100%;
}

body {
  padding: 0 !important;
  margin: 0 !important;
  background: var(--background-color);
  height: 100%;
}

root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

button {
  padding: 8px;
  font-size: 18px;
  font-family: "Inter";
  width: 60%;
  background: var(--button-color);
  border: 1px solid #5c5c5c;
  border-radius: 8px;
  transition: all 0.3s ease-out;
  color: var(--color);
}

button:disabled, button:disabled:hover {
  cursor: not-allowed;
  background: var(--button-disabled);
}

button:hover {
  background: var(--button-hover-color);
}

a.button, a.button-small {
  text-decoration: none;
  background: var(--button-color);
  border-radius: 8px;
  border: 1px solid #5c5c5c;
  transition: all 0.3s ease-out;
  color: var(--color);
}

li > a.button-small {
  font-size: 18px !important;
}

a.button:hover, a.button-small:hover {
  background: var(--button-hover-color);
}

a.button {
  font-size: 18px;
  padding: 8px;
  text-align: center;
}

a.button-small {
  font-size: 14px;
  padding: 5px;
}

p.error {
  background-color: var(--error);
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #5c5c5c;
  font-size: 16px !important;
}
