:root {
  --background-color: #0E0E0E;
}

html {
  height: 100%;
}

body {
  padding: 0 !important;
  margin: 0 !important;
  background: #0e0e0e;
  height: 100%;
}

root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

button {
  padding: 8px;
  font-size: 18px;
  font-family: "Inter";
  width: 60%;
  background: #0d0d0d;
  border: 1px solid #5c5c5c;
  border-radius: 8px;
  color: white;
  transition: all 0.3s ease-out;
}

button:hover {
  background: #414141;
}

a.button, a.button-small {
  text-decoration: none;
  color: white;
  background: #0d0d0d;
  border-radius: 8px;
  border: 1px solid #5c5c5c;
  transition: all 0.3s ease-out;
}

li > a.button-small {
  font-size: 18px !important;
}

a.button:hover, a.button-small:hover {
  background: #414141;
}

a.button {
  font-size: 18px;
  padding: 8px;
  text-align: center;
}

a.button-small {
  font-size: 14px;
  padding: 5px;
}

p.error {
  background-color: rgb(163, 0, 0);
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #5c5c5c;
  font-size: 16px !important;
}
