<div class="list">
  <div *ngIf="loading$ | async; then loading; else succeed"></div>

  <ng-template #loading>
    <div *ngIf="errorMessage; then failure; else loadingSection"></div>

    <ng-template #loadingSection>
      <a class="button" routerLink="/">Go back</a>
      <p>Loading shortened URLs...</p>
    </ng-template>

    <ng-template #failure>
      <a class="button" routerLink="/">Go back</a>
      <p class="error">{{ errorMessage }}</p>
    </ng-template>
  </ng-template>

  <ng-template #succeed>
    <div *ngIf="listableCount == 0; then notExist; else exist"></div>

    <ng-template #notExist>
      <p class="no-url">There is no shortened URL.</p>

      <div><a class="button" routerLink="/">Go back</a></div>
    </ng-template>

    <ng-template #exist>
      <div class="header">
        <a class="button" routerLink="/">Go back</a>

        <div>
          <button (click)="prevPage()" [disabled]="page == 1"><</button>
          <div>{{ page }} / {{ calculatePageCount() }}</div>
          <button (click)="nextPage()" [disabled]="page == calculatePageCount()">></button>
        </div>
      </div>

      <table>
        <tr>
          <th>URL</th>
          <th>Shortened URL</th>
          <th>Click count</th>
          <th>Shortened at</th>
        </tr>

        <tr *ngFor="let url of data">
          <td><a class="button-small" [routerLink]="`/${idToString(url.id)}`">{{ `${site}/${idToString(url.id)}` }}</a></td>
          <td><a class="button-small" [href]="url.value">{{ url.value }}</a></td>
          <td>{{ url.clicks }}</td>
          <td class="tooltip">{{ takeNormalizedDate(url.createdAt, false) }}
            <span class="tooltiptext">{{ takeNormalizedDate(url.createdAt, true) }}</span>
          </td>
        </tr>
      </table>
    </ng-template>
  </ng-template>
</div>
