div.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}

th, td {
  text-align: center;
  padding: 15px;
}

table {
  margin-top: 20px;
}

p.no-url {
  margin-top: -3px;
}

div.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

div.header > div {
  display: flex;
}

div.header > div > div {
  flex-shrink: 0;
  line-height: 34px;
}

div.header > div > button {
  flex-grow: 1;
}

div.header > div > * {
  margin: 0 5px;
}
